@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import "tailwindcss";


/* Fontes base */
body {
  font-family: 'Orbitron', 'Roboto', sans-serif;
}

.tools {
  background-color: rgba(99, 102, 241, 0.3);
}

/* COR PERSONALIZADA DOS TEXTOS */
.text-shadow-python {
  text-shadow: 0 0 2px #3776AB, 0 0 5px #3776AB;
}

.text-shadow-mysql {
  text-shadow: 0 0 2px #ff801e, 0 0 5px #ff801e;

}

.text-shadow-git {
  text-shadow: 0 0 2px #F05032, 0 0 5px #F05032
}

.text-shadow-post {
  text-shadow: 0 0 2px #336791, 0 0 5px #336791;
}

.text-shadow-ts {
  text-shadow: 0 0 2px #3178C6, 0 0 5px #3178C6;
}

.text-shadow-c {
  text-shadow: 0 0 2px #642e8a, 0 0 5px #642e8a;
}

.text-shadow-vite {
  text-shadow: 0 0 2px #FFD43B, 0 0 5px #FFD43B;
}

.text-shadow-tail {
  text-shadow: 0 0 2px #06B6D4, 0 0 5px #06B6D4;
}

.text-shadow-red {
  text-shadow: 0 0 5px red, 0 0 10px red;
}

.text-shadow-node {
  text-shadow: 0 0 2px #339933, 0 0 5px #339933;
}

.text-shadow-js {
  text-shadow: 0 0 2px #e0f963, 0 0 5px #e0f963;
}

.text-shadow-css {
  text-shadow: 0 0 2px skyblue, 0 0 5px skyblue;
}

.text-shadow-react {
  text-shadow: 0 0 5px #61DAFB, 0 0 10px #61DAFB;
}

.neon-text-blue {
  color: #38bdf8;
  text-shadow: 0 0 5px #38bdf8, 0 0 10px #38bdf8;
}

.neon-text-dark-blue {
  color: rgb(99, 102, 241);
  text-shadow: 0 0 5px rgb(99, 102, 241), 0 0 10px rgb(99, 102, 241);
}

.neon-text-pink {
  color: #ec4899;
  text-shadow: 0 0 5px #ec4899, 0 0 10px #ec4899;
}

.neon-text-purple {
  color: #a855f7;
  text-shadow: 0 0 5px #a855f7, 0 0 10px #a855f7;
}

/* COR PERSONALIZADA DAS BORDAS */
.neon-border-python {
  border: 2px solid #38bdf8;
  box-shadow: 0 0 5px #ffd43b;
}

.neon-border-mysql {
  border: 2px solid #a855f7;
  box-shadow: 0 0 10px #F05032;
}

.neon-border-git {
  border: 2px solid #F05032;
  box-shadow: 0 0 5px #F05032;
}

.neon-border-post {
  border: 2px solid #38bdf8;
  box-shadow: 0 0 5px #38bdf8;
}

.neon-border-ts {
  border: 2px solid #38bdf8;
  box-shadow: 0 0 5px #38bdf8;
}

.neon-border-c {
  border: 2px solid #642e8a;
  box-shadow: 0 0 5px #642e8a;
}

.neon-border-vite {
  border: 2px solid #ffd43b;
  box-shadow: 0 0 5px #38bdf8;
}

.neon-border-tail {
  border: 2px solid #38bdf8;
  box-shadow: 0 0 5px #38bdf8;
}






.neon-border-blue {
  border: 2px solid #38bdf8;
  box-shadow: 0 0 5px #38bdf8;
}

.neon-border-node {
  border: 2px solid #339933;
  box-shadow: 0 0 5px #339933;
}

.neon-border-css {
  border: 2px solid skyblue;
  box-shadow: 0 0 5px skyblue;
}

.neon-border-js {
  border: 2px solid #e0f963;
  box-shadow: 0 0 5px #e0f963;
}

.neon-border-react {
  border: 2px solid #61DAFB;
  box-shadow: 0 0 5px #61DAFB;
}

.neon-border-red {
  border: 2px solid rgb(250, 56, 56);
  box-shadow: 0 0 5px rgb(250, 56, 56);
}

.neon-border-pink {
  border: 2px solid #ec4899;
  box-shadow: 0 0 5px #ec4899;
}

.neon-border-purple {
  border: 2px solid #a855f7;
  box-shadow: 0 0 5px #a855f7;
}

.neon-glow-hover:hover {
  filter: brightness(1.3) drop-shadow(0 0 4px currentColor);
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.profile-img {
  border-radius: 50%;
  border: 7px solid transparent;
  animation: borderGlow 3s infinite alternate;
}

@keyframes borderGlow {
  0% {
    border-color: #0ff0fc;
    box-shadow: 0 0 10px #0ff0fc, inset 0 0 10px #0ff0fc;
  }

  50% {
    border-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff, inset 0 0 15px #ff00ff;
  }

  100% {
    border-color: #bc13fe;
    box-shadow: 0 0 20px #bc13fe, inset 0 0 20px #bc13fe;
  }
}

.bg-checkered {
  background-color: #030014;
  background-image:
    linear-gradient(0deg, rgba(0, 173, 248, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(56, 189, 248, 0.05) 1px, transparent 1px);
  background-size: 25px 25px;
}